/********** LE CODE CI-DESSOUS CORRESPOND À LA VERSION RESPONSIVE UNIQUEMENT **********/


/****** MEDIA QUERIES ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    
   
    
    .sous-titre{
        margin-bottom: 35 0;
    }

   
    
    .activités{
        width: 100%;
        
    }

    

     .select-photo{
        width: 30%;
     }

    }






/* Small devices (phones, less than 768px) */


@media (max-width: 768px) {


    
    /********* ACTIVITÉS À MARSEILLE *********/

    .photos{
        justify-content: center;
    }

    .activités{
        justify-content: center;
    }



   

   .hebergements, .activités{
    background-color: white;
   }

   .activités {
       padding: 0 20px;
       width: auto;
   }

  

   .select-photo3 {
       width: 100%;
   }

   .select-photo3 img {
       height: 141px;
   }

   .fig {
       padding: 20px 19px;
   }

   .button, .headline, .form, .sous-titre{
    margin: auto;
   }

   .sous-titre{
    margin-bottom: 35px;
   }

   .photo-hebergement{
    width: 100%;
    height: 210px;
   }

   .photo-hebergement img{
    width: 100%;
    height: 129px;
   }

   .card-subtitle, .card-rating, .card-title{
    padding: 0 15px 0 15px;
   }


}