/********* GENERAL *********/

* {
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {
    color: inherit;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.select-photo:hover{
    color: var(--main-color);
 }

/*********   *********/



/********* MAIN-CONTAINER *********/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*********   *********/



/********* HEADER *********/

header{
    display: flex;
}

.logo{
    width: 161.09px;
    height: 79px;
    padding: 15px 0px;
}

header img{
    width: 61.09px;
    height: 19px;
}

nav{
    width: 344px;
    height: 35px;
    margin-left: 750px;
    padding: 0 50px;
    gap: 68px;
    align-items: flex-end;
    display: flex;
}

nav a:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 5px;
}

/*********   *********/



/********* HEADLINE *********/

.sous-titre{
    font-size: smaller;
}

/*********   *********/



/********* BARRE DE RECHERCHE *********/

input::placeholder{
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

 #pin{
    display: flex;
    height: 49px;
    width: 50px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
}

.form, form{
    display: flex;
    align-items: center;
}

form input{
    height: 45px;
    width: 205px;
    
}

.search-input{
    border: 1px solid var(--main-bg-color);
    border-radius: 0;
    border-right: none;
}



#bout-rech{
    height: 49px;
    width: 132px;
    border-radius: 0 15px 15px 0;
    border: 1px;
    background-color: var(--main-color);
    color: white;
    padding: 15px 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.form button{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 49px;
    height: 49px;
    border-radius: 15px;
    padding: 15px 16px 15px 16px; 
    display: none;
}

#bout-rech:hover{
    background-color: var(--filter-bg-color);
    color: black;
    transition: 0.2s;
}

/*********   *********/



/********* ÉTOILES ET EURO *********/
.euro {
    font-weight: 700;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}

/*********   *********/



/********* TITRES PHOTOS *********/

.card-title {
    font-size: 16px;
    margin: 8px 0;
}

/*********   *********/



/********* FILTRES *********/

.filtre{
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

button{
    width: 173px;
    height: 50px;
    padding: 4px 19px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
}

button:hover{
    background-color: var(--filter-bg-color);
    transition: 0.2s;
}

.button, .bout1, .bout2{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 26px;
    margin-top: 26px;
}

.bouton-filtre{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#familial{
    width: 134px;
}

/*********   *********/



/****** DIVISION [HEBERGEMENTS À MARSEILLE ET LES PLUS POPULAIRES] ***********/

.hebergements-and-populaires {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 30px;   
}

/*********   *********/



/********* SECTION HEBERGEMENTS À MARSEILLE + SECTION LES PLUS POPULAIRES *********/

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    /*width: 871px;
    height: 614px;*/
}

.card-title, .card-subtitle{
    align-content: center;
}

.card-txt{
    /*padding: 0 15px 0 15px;*/
 }

/*********   *********/



/********* HÉBERGEMENTS À MARSEILLE *********/

.hebergements {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /*padding: 30px;*/
    gap: 30px;
    border-radius: 15px;
    background-color: var(--main-bg-color);
}

.photo-hebergement{
    width: 250.33px;
    height: 207.25px;
    border-radius: 20px;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    padding: 5px;
}

.hebergements img{
    width: 250.33px;
    height: 124px;
    border: 5px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.heb-mars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

#aff-plus:hover{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

.hebergements h3{
    align-content: flex-start;
}

/*********   *********/



/********* LES PLUS POPULAIRES *********/

.populaires {
    width: 30%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
}

.card img {
    object-fit: cover;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;  
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;  
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card-txt{
    padding: 0;
}

/*********   *********/



/********* ACTIVITÉS À MARSEILLE *********/

.activités{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    gap: 30px;
    margin-top: 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    justify-content: space-evenly;
}

.activités h2{
    margin-bottom: 0;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
 }

 .photos-activités{
    border-radius: 20px;
    box-shadow: 0px 3px 15px lightgray ;
    width: 297.5px;
    height: 439px;
}

.activités img{
    height: 380px;
    width: 297.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.fig{
    padding: 16px 19px 20px 19px;
    font-weight: 700;
    size: 16px;
    line-height: 18.78px;
 }

/*********   *********/



/********* FOOTER *********/

footer{
    display: flex;
    width: 100%;
    height: 163px;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    margin-top: 5%;
    gap: 30px;
    font-weight: 400;
    line-height: 18.78px ;
    font-size: 16px;
}

.descr{
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    margin: 0;
}

.foot{
    width: 446.67px;
    height: 163px;
    padding: 20px;
    gap: 15px;
}

/*********   *********/



/********** LE CODE CI-DESSOUS CORRESPOND À LA VERSION RESPONSIVE UNIQUEMENT **********/


/****** MEDIA QUERIES ***********/

/* Medium devices (tablets, less/equal than 1024px) */

/********* GENERAL *********/

    /*********   *********/

    
    /********* MAIN-CONTAINER *********/

    /*********   *********/

    
    /********* HEADER  *********/

    /*********   *********/



    /********* HEADLINE *********/

    /*********   *********/



    /********* BARRE DE RECHERCHE *********/

    /*********   *********/


    /********* ÉTOILES ET EURO *********/

    /*********   *********/


    /********* TITRES PHOTOS *********/

    /*********   *********/


    /********* FILTRES *********/

    /*********   *********/


    /****** DIVISION [HEBERGEMENTS À MARSEILLE ET LES PLUS POPULAIRES] ***********/

    /*********   *********/


    /********* SECTION HEBERGEMENTS À MARSEILLE + SECTION LES PLUS POPULAIRES *********/

    /*********   *********/


    /********* HÉBERGEMENTS À MARSEILLE *********/

    /*********   *********/


    /********* LES PLUS POPULAIRES *********/

    /*********   *********/


    /********* ACTIVITÉS À MARSEILLE *********/

    /*********   *********/


    /********* FOOTER *********/

    /*********   *********/


@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        align-items: center;
    }

    .hebergements {
        width: 100%;
        padding: O;
        align-items: center;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/*********   *********/



/* Small devices (phones, less than 768px) */


@media (max-width: 767.98px) {

    /********* GENERAL *********/

    /*********   *********/

    
    /********* MAIN-CONTAINER *********/

    .main-container{
        padding: 0;
    }

    /*********   *********/

    
    /********* HEADER  *********/

    header{
        flex-direction: column;
        align-items: center;
        /*margin-bottom: 30px;*/
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 61.09px;
        height: 19px;
    }

    nav{
        display: flex;
        margin: 0;
        justify-content: space-evenly;
    }

    nav a:hover{
        color: var(--main-color);
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        padding-top: 5px;
        
    }


    /*********   *********/



    /********* HEADLINE *********/
    
    /*********   *********/



    /********* BARRE DE RECHERCHE *********/

    #bout-rech{
        display: none;
    }

    .form button{
        display: flex;
    }

    .form{
        width: 335px;
    }

    /*********   *********/


    /********* ÉTOILES ET EURO *********/

    /*********   *********/


    /********* TITRES PHOTOS *********/

    /*********   *********/


    /********* FILTRES *********/

    .button{
        display: inline-block;
        margin: 0;
    }

    #familial, .bouton-filtre{
        width: 162.5px;
        font-size: 14px;
        line-height: 16.44px;
    }

    #familial{
        padding-right: 48px;
    }


    .up{
        display: flex;
        flex-direction: column;
        align-items: last baseline;
    }

    .sous-titre{
        margin-top: 9px;
    }
    /*********   *********/


    /****** DIVISION [HEBERGEMENTS À MARSEILLE ET LES PLUS POPULAIRES] ***********/

    .hebergements-and-populaires section{
        border-radius: 0;
    }

    /*********   *********/


    /********* SECTION HEBERGEMENTS À MARSEILLE + SECTION LES PLUS POPULAIRES *********/

    /*********   *********/


    /********* HÉBERGEMENTS À MARSEILLE *********/

    .hebergements{
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .heb-mars{
        justify-content: center;
        padding: 0;
        flex-direction: column;
        /*width: 100%;*/
    }

    .hebergements{
        padding: 0;
        margin: 0;
    }

   

    /*********   *********/


    /********* LES PLUS POPULAIRES *********/

    .populaires-cards{
        display: block;
    }

    /*********   *********/


    /********* ACTIVITÉS À MARSEILLE *********/

    .photos{
        justify-content: center;
    }

    /*********   *********/


    /********* FOOTER *********/

    footer{
        flex-direction: column;
        height: 471px;
        padding: 30px;
        justify-content: center;
        margin-left: 0;
    }

    /*********   *********/
    .main-container{
        justify-content: center;
        padding: 0;
        background-color: var(--main-bg-color);
    }

   body{
    
   }

   header, .up{
    background-color: white;
   }

   .hebergements .activités{
    background-color: white;
   }

   .populaire{
    margin: 0;
   }
    

}

/*********   *********/