/********* FILTRES *********/

.filtre{
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    margin-top: 26px;
}

button{
    width: 173px;
    height: 50px;
    padding: 4px 19px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
}

button:hover{
    background-color: var(--filter-bg-color);
    transition: 0.2s;
}

.button, .bout1, .bout2{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 26px;
}

.bouton-filtre{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#familial{
    width: 134px;
}

/****** MEDIA QUERIES ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

.filtre{
    align-self: flex-start;
 }

}



/* Small devices (phones, less than 768px) */


@media (max-width: 768px) {



    /********* FILTRES *********/

    .button{
        display: inline-block;
        margin: 0;
    }

    #familial, .bouton-filtre{
        width: 162.5px;
        font-size: 14px;
        line-height: 16.44px;
    }

    #familial{
        padding-right: 48px;
    }


    .up{
        display: flex;
        flex-direction: column;
        align-items: last baseline;
    }

    .sous-titre{
        margin-top: 9px;
    }

}