/********* BARRE DE RECHERCHE *********/

input::placeholder{
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

 #pin{
    display: flex;
    height: 49px;
    width: 50px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
}

.form, form{
    display: flex;
    align-items: center;
}

form input{
    height: 45px;
    width: 205px;

}

.search-input{
    border: 1px solid var(--main-bg-color);
    border-radius: 0;
    border-right: none;
}



#bout-rech{
    height: 49px;
    width: 132px;
    border-radius: 0 15px 15px 0;
    border: 1px;
    background-color: var(--main-color);
    color: white;
    padding: 15px 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.form button{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 49px;
    height: 49px;
    border-radius: 15px;
    padding: 15px 16px 15px 16px;
    display: none;
}

#bout-rech:hover{
    background-color: var(--filter-bg-color);
    color: black;
    transition: 0.2s;
}

/****** MEDIA QUERIES ***********/

/* Small devices (phones, less than 768px) */


@media (max-width: 768px) {





    /********* BARRE DE RECHERCHE *********/

    #bout-rech{
        display: none;
    }

    .form button{
        display: flex;
    }

    .form{
        width: 335px;
    }
}