/********** LE CODE CI-DESSOUS CORRESPOND À LA VERSION RESPONSIVE UNIQUEMENT **********/


/****** MEDIA QUERIES ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        align-items: center;
    }

    .hebergements {
        width: 100%;
        align-items: center;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .select-photo img {
        height: 200px;
    }

    .fig {
        padding: 25.5px 19px;
    }
    
    .sous-titre{
        margin-bottom: 35 0;
    }

    .populaires{
        margin-top: 0;
    }

    
    .activités{
        width: 100%;
        
    }

    .main-container{
        padding: 0;
        margin-left: 50px;
    }

    .heb-mars{
        display: flex;
        justify-content: space-between;
    }

     .select-photo{
        width: 30%;
     }

    }






/* Small devices (phones, less than 768px) */


@media (max-width: 768px) {

    


    /****** DIVISION [HEBERGEMENTS À MARSEILLE ET LES PLUS POPULAIRES] ***********/

    .hebergements-and-populaires section{
        border-radius: 0;
        padding: 20px;
        
    }

    /*.hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }*/
    

    /********* HÉBERGEMENTS À MARSEILLE *********/

    .hebergements{
        flex-direction: column;
        justify-content: center;
        background-color: white !important;
    }

    .heb-mars{
        justify-content: center;
        padding: 0;
        width: 100%;
        flex-direction: column;
    }

    .hebergements{
        padding: 0;
        margin: 0;
        gap: 0;
    }

    .descr{
        margin-top: 30px;
    }

    .afficher{
        align-self: flex-start;
    }





    /********* LES PLUS POPULAIRES *********/

    .populaires-cards{
        display: block;
    }

    


    /********* ACTIVITÉS À MARSEILLE *********/

    .photos{
        justify-content: center;
    }

    .activités{
        justify-content: center;
    }


    /********* FOOTER *********/

    footer{
        flex-direction: column;
        height: 471px;
        padding: 30px;
        /*justify-content: center;*/
        margin-left: 0;
        width: 100%;
    }

    /*********   *********/


    .main-container{
        justify-content: center;
        padding: 0;
        background-color: var(--main-bg-color);
    }


   header, .up{
    background-color: white;
   }

   .hebergements, .activités{
    background-color: white;
   }

   .activités {
       padding: 0 20px;
       width: auto;
   }

   .populaires{
    margin: 0;
   }

   .select-photo {
       width: 100%;
   }

   .select-photo img {
       height: 141px;
   }

   .fig {
       padding: 20px 19px;
   }

   .button, .headline, .form, .sous-titre{
    margin: auto;
   }

   .sous-titre{
    margin-bottom: 35px;
   }

   .photo-hebergement{
    width: 100%;
    height: 210px;
   }

   .photo-hebergement img{
    width: 100%;
    height: 129px;
   }

   .card-subtitle, .card-rating, .card-title{
    padding: 0 15px 0 15px;
   }

   .filtre{
    margin-top: 35px;
    margin-bottom: 20px;
   }

   .bout1{
    margin-top: 0;
   }

}