/****** DIVISION [HEBERGEMENTS À MARSEILLE ET LES PLUS POPULAIRES] ***********/

.hebergements-and-populaires {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}




/********* SECTION HEBERGEMENTS À MARSEILLE + SECTION LES PLUS POPULAIRES *********/

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.card-title, .card-subtitle{
    align-content: center;
}

/****** MEDIA QUERIES ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        align-items: center;
    }


    .hebergements-and-populaires section{
        width: 100%;
        box-sizing: border-box;
    }
}

/* Small devices (phones, less than 768px) */


@media (max-width: 768px){
    .hebergements-and-populaires{
        flex-direction: column;
    }

    .hebergements-and-populaires section{
        border-radius: 0;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 30px;
    }
}