/****** DIVISION [HEBERGEMENTS À MARSEILLE ET LES PLUS POPULAIRES] ***********/

.hebergements-and-populaires {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}




/********* SECTION HEBERGEMENTS À MARSEILLE + SECTION LES PLUS POPULAIRES *********/

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.card-title, .card-subtitle{
    align-content: center;
}

/****** MEDIA QUERIES ***********/