/********* HÉBERGEMENTS À MARSEILLE *********/

.hebergements {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 15px;
    background-color: var(--main-bg-color);
}

.photo-hebergement{
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    padding: 5px;
    box-sizing: border-box;
}


.hebergements img{
    width: 100%;
    height: 124px;
    border: 5px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.heb-mars{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
    width: 100%;
}

#aff-plus:hover{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

.hebergements h3{
    align-content: flex-start;
}


.serie{
    display: flex;
    gap: 30px;
    width: 100%;
}

.select-photo2{
    flex: 1;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
}

/****** MEDIA QUERIES ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px){

.hebergements {
    width: 100%;
    align-items: center;
}

.heb-mars{
    display: flex;
    justify-content: space-between;
}

}


/* Small devices (phones, less than 768px) */


@media (max-width: 768px){

.hebergements{
    flex-direction: column;
    justify-content: center;
    background-color: white !important;
    padding: 0;
    margin: 0;
    gap: 0;
}

.heb-mars{
    justify-content: center;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.descr{
    margin-top: 30px;
}

.afficher{
    align-self: flex-start;
}

.serie{
    flex-direction: column;
}



}